<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="distribution" content="global"/>
    <meta name="Googlebot" content="all"/>
    <meta name="language" content="es_ES"/>
    <link rel="alternate" hreflang="es" href="http://extracttextpython.appspot.com/" />
    <meta name="keywords" content="api, text extract"/>    
    <meta name="title" content="Api text extract news" />
    <meta name="author" content="Matias Tafernaberry" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Api text extract news">
    <meta name="news_keywords" content="api, text extract">
    <meta name="robots" content="index,follow">
    <meta name="classification" content="api, text extract"/>
    <meta name="google-site-verification" content="" />

    <link rel="shortlink" href="img/favicon.png">
    <meta property="og:image" content="img/favicon.png" />
    <meta property='og:locale' content='es_ES'/>
    <meta property='og:type' content='article'/>
    <meta property='og:description' content="api, text extract"/>
    <meta property='og:url' content='http://extracttextpython.appspot.com/'/>
    <meta property='og:site_name' content='api, text extract'/>

    <link rel="shortcut icon" href="img/favicon.png">

    <title>Api text extract news</title>

    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Dosis|Long+Cang&amp;display=swap" rel="stylesheet">
        
    <link href="https://fonts.googleapis.com/css?family=Turret+Road&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link link rel=stylesheet href="/css/bootstrap.css" type=text/css>
    <link href="https://fonts.googleapis.com/css?family=Economica|Kite+One|Open+Sans+Condensed:300|Orbitron" rel="stylesheet"> 
    <link link rel=stylesheet href="/css/style.css" type=text/css>
    <link link rel=stylesheet href="/css/hover.css" type=text/css>

   <base href="/" target="_self">
</head>
<!-- Navigation -->
<body>     
    <div id="page" class="hfeed site">
        {% include "templates/menu.html" %}
        {% block body %}

        {% endblock %}
    </div>

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/charrua.js"></script>
</body>
</html>