{% include "templates/base2.html" %}
{% block body %}
	<!-- Page Content -->
	<div class="container">
  		<div class="row description">
				<div class="col-sm-3">&nbsp;</div>
				<div class="col-sm-6">Tool to extract texts from news page.</div>
				<div class="col-sm-3">&nbsp;</div>
		
		</div>
	</div>
		
	</div>
  	<div id="main" class="site-main">
  		{% autoescape on %}
  		<div class="container">
  			<div class="row">
		  		<div class="col-sm-2">&nbsp;</div>
		  		<div class="formulario col-sm-8">
			  		<form action="/" method="post">
			  			<div class="form-group">
							<input type="text" name="url" class="form-control" id="url" placeholder="Url" required>
						</div>
						
						<button type="submit" class="btn btn-primary">Send</button>
					</form>
				</div>
				<div class="col-sm-2">&nbsp;</div>
			</div>
		</div>
		{% if comentarios %}
			<div class="container">
  				<div class="row ">
  					<div class="col-sm-2">&nbsp;</div>
		  			<div class="col-sm-8 comentarios">
		  				<p><h2>Results:</h2></p>
		  				{{ comentarios }}	
		  			</div>
		  			<div class="col-sm-2">&nbsp;</div>
		  		</div>
		  	</div>
		{% endif %}
   		{% endautoescape %}
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-2">&nbsp;</div>
		  	<div class="col-sm-8 comentarios">
		  		<p><h3>Example in Python:</h3></p>
		  		<p><code>import requests</code></p>
		  		<p><code>data = {"url":"https://www.elpais.com.uy/informacion/politica/larranaga-mal-allanamientos-nocturnos-plantea.html"}</code></p>
		  		<p><code>url = "http://extracttextpython.appspot.com/api/"</code></p>
		  		<p><code>r = requests.post(url, data=data, allow_redirects=True)</code></p>
		  		<p><code>print(r.content)</code></p>
		  		<p><code>{"data": "El líder de Alianza Nacional Jorge Larrañaga señaló este lunes en una carta pública que hay “instituciones públicas -que se deben a todos los uruguayos-, que están actuando orgánicamente al compás del dictamen y las necesidades de la 'fuerza política'; sí, del Frente Amplio”, en referencia a la campaña contra el plebiscito que impulsa la iniciativa Vivir sin Miedo, que encabeza el senador nacionalista.
En la carta, que se titula “Patoteros del poder” y que el legislador compartió en su cuenta de Twitter, Larrañaga señala al comienzo que su reforma “está bajo ataque del Frente Amplio -algo esperable porque cuestiona una de sus mayores falencias, la falta de respuestas en materia de seguridad-, pero también, bajo ataque de instituciones públicas que deberían actuar regidas por los códigos de neutralidad y decoro republicano y no por los designios frentistas”.
Además, el senador planteó que si él “propone” realizar allanamientos nocturnos “está mal”. Pero, agregó, los “hechos” marcan que el presidente Tabaré “Vázquez en 2006 en el Proyecto de Ley de Procedimiento Policial, también los incluía. \(José\) Mujica los propuso, \(Eduardo\) Bonomi, los propuso, y una cantidad de dirigentes de todas las orientaciones han mostrado su conformidad con la propuesta”.
“Son permitidos en casi todo el mundo, solo Portugal tiene una prohibición similar a la de nuestra Constitución. Entonces, ¿están mal los allanamientos nocturnos o quien los plantea?”, agregó.
El exprecandidato sostiene en el texto que el Frente Amplio ha construido “a lo largo de décadas” un “aparato cultural”, el cual “suele asistir al aparato político actuando en sintonía y coadyuvando a generar una hegemonía mediante un culto al pensamiento único, erigiéndose en jueces de lo moral y políticamente correcto”. A estas instituciones que apoyan la campaña contraria a la reforma les llama “agencias satélites de un proyecto político”.
En tal sentido, se refiere a instituciones públicas como la Institución Nacional de Derechos Humanos \(Inddhh\), “emitiendo no uno sino dos pronunciamientos sin fundamentos contra la reforma” y también suma a su lista a centros de enseñanza públicos.
Además, Larrañaga criticó que "instituciones" como la Universidad de la República \(UdelaR\) que “deberían inspirarse en un espíritu crítico, científico y riguroso, pasan a actuar como delegados de lujo de una postura partidista”.
Puntualmente nombra a la Facultad de Psicología, que divulgó el viernes una carta donde señala que la reforma Vivir sin Miedo "propone medidas que ponen en riesgo la vida plena de las y los habitantes del país, produciendo condiciones represivas que generan violencia, temor y sufrimiento mental”. Respecto a esta última expresión, Larrañaga respondió: “Sin palabras. No tienen pudor frente al disparate”.
"No tienen derecho los que son coyuntural mayoría a excluir a otros. Eso pasa en algunas Facultades que hacen campaña. ¿Y los que tiene otra posición? Más aún, si no hubiera ningún estudiante, ningún profesor, ningún gremialista a favor de una posición, eso tampoco le da derecho a nadie a apropiarse de la Institución embanderándola con una postura determinada", dijo Larrañaga.
Considera además “escandaloso” que las instituciones públicas “oficialicen una posición, que abandonen la neutralidad, atacando al principio de laicidad”.
Además, manifestó que el “principal arsenal son los prejuicios y los falsos 'cucos' importados y no los argumentos. Se usan palabras, pero se reniega de los hechos”, esta última expresión, en referencia a los dichos del candidato presidencial Daniel Martínez durante el debate presidencial del 1° de octubre pasado \("hechos, no palabras"\). 
A partir de este punto usted ingresa a un ámbito virtual destinado al ejercicio responsable de la libertad de expresión. Los mensajes serán instantáneamente visibles y no serán supervisados por la redacción de El País. Es un espacio autoregulado por los lectores, quienes disponen de mecanismos para reportar el uso abusivo del mismo.
Zelmar Michelini 1287, CP.11100, Montevideo, Uruguay. Copyright ® EL PAIS S.A. 1918 - 2019"}</code></p>
		  	</div>
		  	<div class="col-sm-2">&nbsp;</div>
		</div>
	</div>
{% endblock %}  