{% include "templates/base2.html" %}
{% block body %}
	<div id="container">
	    <video id="background_video" loop muted>
	    	<source src="/img/raininglettersBWLow.mp4" type="video/mp4">
	    </video>
	    <div id="video_cover"></div>
	    <div id="overlay"></div>

	    <div id="video_controls">
	      <span id="play">
	        <img src="play.png">
	      </span>
	      <span id="pause">
	        <img src="pause.png">
	      </span>
	    </div>
	    <section id="main_content">
	      <div id="head">
	        <div class="row description">
	        <div class="col-sm-3">&nbsp;</div>
	        <div class="col-sm-6">Api para extraer texto de páginas de noticias en español.</div>
	        <div class="col-sm-3">&nbsp;</div>    
	      </div>
	      <div id="links">        
	      </div>
	    </section>
	</div>
	<!-- Page Content --> 		
{% endblock %}  